body {
    background-color: #f2f3f3;
}

.resume-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

embed {
    width: 70%;
    height: 100vh;
    box-shadow: 2px 2px 10px 5px rgb(211, 210, 210);
    border: 2px solid rgb(139, 141, 141);
    margin-top: 15px;
}